@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,400;1,500&display=swap");
@import url(https://db.onlinewebfonts.com/c/c5bd605b45237a12c99133fa9d7cae49?family=Helvetica+W01+Roman);
@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
:root {
  --bg: var(--color_36);
  --color: rgba(255, 255, 255, 0);
  --shd: -7px 0px 20px 4px rgba(129, 222, 205, 0.7);
  --shadow: inset 0 4px 6px -4px rgba(255, 255, 255, 0.59),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.59),
    inset 0 -5px 5px -5px rgba(255, 255, 255, 0.9);
  --alpha-bg: 1;
}
.active-link {
  color: #4a7c82;
}
.headerbg {
  background-color: var(
    --screenwidth-corvid-background-color,
    rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
  );
  background-image: url("./assets/headerbg.png");
  box-shadow: var(--shd, 0 0 5px rgba(0, 0, 0, 0.7));
}
.aboutsect {
  background-image: linear-gradient(
    180deg,
    rgba(190, 85, 198, 0.17) 0%,
    rgba(61, 155, 233, 0.2) 48.28124940395355%,
    rgba(255, 215, 239, 0) 100%
  );
}
.dropdownsect {
  box-shadow: var(--shd, 0 0 5px rgba(0, 0, 0, 0.7));
}
.Countersect {
  background-image: linear-gradient(
    90deg,
    #be55c6 0%,
    rgba(55, 120, 174, 0.81) 100%
  ) !important;
}

#comp-lq3d90gq svg [data-color="1"] {
  fill: #cbd2d3;
}
#comp-lq3d90gq svg [data-color="2"] {
  fill: #000000;
}
#comp-lq3d90gq svg [data-color="3"] {
  fill: #000000;
}
#comp-lq3d90gq svg [data-color="4"] {
  fill: #000000;
}
